<h3>Would you like to cancel your premium membership?</h3>
<h4>Please note that this will make all of your private wikis public.</h4>

<%= link_to "Confirm?", downgrade_create_path, :class => 'navbar-link' %>
<%= link_to "Cancel", root_path, :class => 'navbar-link' %>
